.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  
    
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 92%;
	height: 92%;
}